
.hologram1{
    animation:  hologramlight 2s alternate infinite;
  
}


 @keyframes hologramlight {
  to{
    opacity:0.2;
    animation-timing-function:
    linear
  }
 }

 #holo{
    animation-name: holo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left:30px;
    margin-top: 5px;
}

 
 
  
  .p {
    stroke-dasharray: 6030;
    stroke-dashoffset: 6030;
    animation: write 20s linear forwards;
    animation-delay: .8s;
  }


@keyframes write {
    to {
        stroke-dashoffset: 0;
    }
}