@import 'variables';


    .icons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: $altura;
    }

    header{
        z-index: 100;
        label:hover{
            cursor: pointer;
            }
        } 

#btn-menu{
    display:none;
 

}


.imagen-menu{
    left: 8px;
    z-index: 100;
    display:block;
    height:60px;
    width:60px;
    padding: 10px;
    border-right: 1px solid $blanco;
}
 
nav{
    z-index: 100;
    position: absolute;
    background: $negro;
    opacity: 80%;
    width: 100%;
    height: 100%;
    margin-left: -100%;
    ul{
        z-index: 100;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        a {
            display: flex;
            flex-direction: column;
        line-height: 8;
        height: 40px;
        color: $blanco;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        list-style: none;
        position: relative;
        border-bottom: 3px;        
    }  
}

     
}


#btn-menu:checked~.menu{
    margin: 0;
}