@import 'variables';

@media only screen and (max-width:600px){
     .black-bar {
        height: $altura;
    }
    .icons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: $altura;
    }
    header{
        label:hover{
    cursor: pointer;
}

label{
.imagen-menu{
    display:block;
    height:30px;
    width:30px;
    padding: 10px;
    border-right: 1px solid $blanco;
}
}
    } 
nav {
    width: $ch;
    line-height: 188px;
    padding: $margen;
    margin: $margen;
    a {
        color: $blanco;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        list-style: none;
        position: relative;
        border-bottom: 1px;        
    }  
      .menu_i {
        color: $blanco;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        list-style: none;
        position: relative;
        border-bottom: 1px;   

        display: inline-block;
        vertical-align: top;

        white-space: nowrap;
    }
}
#btn-menu{
    display:none;
}

 
.menu{
    position: absolute;
    background: $negro;
    opacity: 1;
    width: 100%;
    height: 100%;
    margin-left: 100%;
    ul{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
}
}
#btn-menu:checked~.menu{
    margin: 0;
}
}