@import 'menu';
@import 'icons';
@import 'variables';
@import 'animation';

body {
    margin: 0;
    padding: 0;
    background-color: $grisoscuro;
    .black-bar {
        height: $altura;
         
    }
}

.cover-page {
    position: absolute;
    top: $p;
    left: $gd;
      width:1215px;
      height: 699px;
}

svg{
     width:100% ;
  height:100% ;
}