@import 'animation';
@import 'icons';
@import 'mobile';
@import 'desktop';
@import 'variables';
@import 'profile';
@import 'work';


body {
    margin: 0;
    padding: 0;
    background-color: $grisoscuro;
    .black-bar {
        height: $altura;
         
    }
}

.cover-page {
    position: absolute;
    top: $p;

      width:100%;

}

svg{
     width:100% ;
  height:100% ;
}
footer{
    color: $blanco;
  position: fixed;
  margin-top: 2%;
  height: 50;
   width: 100%;
  text-align: center;
  font-size: 0.8em;
  bottom: 0;

}

@media only screen and (min-width:800px){

.cover-page {
  
    position: absolute;
    top:$p;
    left: $gd;
    width:1222px;
    height: 699px;
}
footer{
    display:none;

}

}
